.nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-left-width: 2px;
} 

html {
    scroll-behavior: smooth;
}

.title-1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold; 
    font-size: 70px;
    color: rgb(123, 81, 4);
    text-align: center;
    margin-bottom: 0%;

}

.title-2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-top: 0%;
    margin: bottom 0.5em;
}